
/*
=================================================================
(#m04fte) Footer Element
=================================================================
*/
#footer { width: 100%; }
#footer span.line { width: 100%; background: url(../img/headerAltCizgiMavi.png); height: 3px; display: block;
    float: left; margin-top: -1px; }
#footer .footer-site-link { width: 100%; background: url(../img/footer-bg.jpg); padding-top: 30px; padding-bottom: 8px; }
#footer .footer-inner{ width: 1000px; margin: 0 auto; }
#footer .site-link-inner { width: 800px; float: left }
#footer .footer-site-link .site-link-inner ul { float: left; margin-right: 55px; text-align: left; }
#footer .footer-site-link .site-link-inner ul li h2 { margin-bottom: 15px; font-size: 16px; color: #ffffff;
    padding-left: 14px; background: url(../img/site-link-arrows.png) left 5px no-repeat; }
#footer .footer-site-link .site-link-inner ul li a { margin-bottom: 12px; display: block; padding-left: 10px;
    background: url(../img/site-link-arrows.png) left -25px no-repeat; font-size: 16px; color: #f7f7f7;
    transition: all 0.1s ease-in-out; /*dfgfdertert*/
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
#footer .footer-site-link .site-link-inner ul li a:hover { color: #eee; }
#footer .contact-area { float: left; margin-left: 9px; width: 191px; }
#footer .contact-area span.line { display: block; width: 100%; height: 7px; background: url(../img/social-top.png); margin-bottom: 12px; }
#footer .contact-area p {color: white; text-align: center; font-size: 16px; position: relative; }
#footer .contact-area p span {font-size: 16px; color: white; }
#footer .contact-area p span.tel-icon { position: absolute; right: 30px; top:4px; background: url(../img/tel-icon.png); width: 15px; height: 22px;    }
#footer .contact-area span.text {color: white; font-size: 15px; display: block; text-align: center;margin-bottom: 14px;}
#footer .contact-area .bottom { margin-top: 35px; }
#footer .contact-area .socials-btn a { display: block; float: left; width: 76px; margin-left: 13px; height: 57px; background: url(../img/social-buttons.png) }
#footer .contact-area .socials-btn a.fb { background-position: left top; }
#footer .contact-area .socials-btn a.tw { background-position: right top; }
#footer .footer-bar { width: 100%; background: url(../img/footer-bar-bg.jpg); padding: 10px 0 9px 0;}
#footer .footer-bar .inner { width: 1000px; margin: 0 auto; }
#footer .footer-bar p { width: 50%; color: white; font-size: 15px; line-height: 35px; }
#footer .footer-bar p b { color: white; font-size: 15px; }
#footer .footer-bar span.icon { display: block; width: 44px; height: 35px; background: url(../img/bottom-icon.png); }



/*
=================================================================
(#m05inx) İndex Element
=================================================================
*/


/*
=================================================================
(#m06dmn) Domain Page
=================================================================
*/

/*
=================================================================
(#m07csl) Costumer Login
=================================================================
*/

/* Tab Style */
.musteripanel .type-2.trs-tab-wrapper { margin-top: -46px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav  { float: right; clear: both;  }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a { width: 220px; height: 35px; float: left; display: block; background: url(../img/ters-tab-nav.png) left 36px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a.active {  background-position: left top !important}
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a.left { margin-right: -36px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a.right { border-top-right-radius: 3px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-container { float: left; clear: both; padding: 22px 10px; width: 967px }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap { float: left; width: 422px;  }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row { float: left;width: 100%; clear: both; margin-bottom: 13px;  }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row .short { display: block; width: 421px; height: 57px; border: 1px solid #bfbfbf; border-radius: 3px; }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row .short input { display: block; width: 320px; padding: 10px 20px; font-size: 15px; line-height: 30px; height: 36px;}
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row span.icon { display: block; width: 60px; height: 57px; background: url(../img/panel-form-icon.png); float: left }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row span.password-icon { background-position: right top; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox { display: block; padding-left: 29px; position: relative; margin-top: 9px; cursor: pointer; font: 14px/19px Arial; color: #41454b; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox span.text {  font: 16px/20px Arial; color: #41454b; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox .ck { display: block; width: 21px; height: 20px; background: url(../img/p-k-checkbox.png); position: absolute; top: 1px; left: 0; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox .ck.active { background-position: right top !important; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox input  { position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; filter:alpha(opacity=0); }
.musteripanel #customerSigninFormSubmit { width: 124px; height: 36px; background: url(../img/signin-btn.png); color: white; font-size: 16px }
.musteripanel .error-input { border: 1px solid red !important; }

.musteripanel .first .right-column { float: right; width: 493px }
.musteripanel .first .right-column p { float: right; width: 493px; margin-bottom: 25px; font-size: 16px; color: #374e59 }

/*
=================================================================
(#m08csr) Costumer Register
=================================================================
*/

/*
=================================================================
(#m09aph) App Hosting
=================================================================
*/


/*
=================================================================
(#m10byp) Buying Page
=================================================================
*/

/*
=================================================================
(#m11dtp) Detail Page
=================================================================
*/


/*



=================================================================
(#m12hlp) Helper
=================================================================
*/
.rounded { border-radius: 3px !important; }
.-mt53 { margin-top: -53px !important; }
.fl { float: left }
.fr { float: right }
.resetbutton 	 {  border-color: none !important;  outline: none !important;  border: 0 !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important; }
.noMR { margin-right: 0 !important }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.cf:before, .cf:after { content: " "; /* 1 */ display: table; /* 2 */ } .cf:after { clear: both; } .cf { *zoom: 1; }

