/*
 *  Document   : main.css
 *  Author     : whmcsx
 *  Description: The main stylesheet of the template
 *
 *  Structure (with shortcodes):
 *       (#m01ipt) Page Css Element İmport
 *       (#m02gel) Generic Element
 *       (#m03hde) HEADER Element
 *       (#m04fte) Footer Element
 *       (#m05inx) İndex Element
 *       (#m06dmn) Domain Page
 *       (#m07csl) Costumer Login
 *       (#m08csr) Costumer Register
 *       (#m09aph) App Hosting
 *       (#m10byp) Buying Page
 *       (#m11dtp) Detail Page
 *       (#m12hst) Hosting Page
 *       (#m13hlp) Helper
 *//*
=================================================================
(#m01ipt) İmport
=================================================================
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
* {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
.bodybg {background: url(../img/bodybg.png) repeat;}
/*
=================================================================
(#m02gel) Generic Element
=================================================================
*/
/*Generic Body*/
.genericbox {width: 1000px;margin: 0 auto;position: relative;z-index: 6;}
/* Custom Checkbox */
/* Dummy HTML for CK
 <label  class="custom-checkbox" for="eCheck">
    <span class="ck"></span>
    <input id="eCheck" rel="eCtr" class="req-checked" type="checkbox" name="" value="0" />
    <span class="ke">Bilmem neyden haberdar olmak istiyorum</span>
 </label>
 *//*
=================================================================
(#m03hde) Header Element
=================================================================
*/
.header {width: 100%;height: 191px;}
.header .line, .cbp-fwslider .line {height: 3px;width: 100%;background: url(../img/headerAltCizgiMavi.png) repeat top left;display: block;position: relative;z-index: 555;}
.headerbg .line {height: 3px;width: 100%;background: url(../img/headergribg.png) repeat top left;display: block;position: relative;/*  z-index: 555; */}
.header-inner {width: 1000px;margin: 0 auto;z-index: 35;position: relative;}
.header-top {width: 1000px;float: left;}
.header-top .logo {float: left;margin: 22px 0 26px 0px;}
.header-top .headerbutton {width: auto;height: auto;float: right;margin: 21px 0px 0 0;}
.header-top .headerbuttonimg {width: 191px;height: 51px;float: left;margin: 0 8px 0 0;background: url(../img/headerbutton.png) no-repeat top left;text-decoration: none;color: #fff;}
.header-top .headerbuttontext {margin-top: 15px;display: block;}
.header-top .sepet-icon {width: 18px;height: 16px;background: url(../img/sepet-icon.png);display: block;float: left;margin: 17px 22px;}
.header-top .motto {float: left;margin: 28px 0 26px 14px;color: #42667c;}
.home-icon {margin: 18px 1px 18px 24px;}
.megamenu_container {width: 1000px;height: 57px;margin: 0;position: relative;float: left;z-index: 30;border: 0;background: url(../img/headermenu.png);}
.megamenu {list-style: none;padding: 0;position: relative;margin: 0;}
.megamenu >li {float: left;margin: 1px 0 0 0;padding: 1px 1px 0 1px;position: relative;z-index: 9999;}
.megamenu >li:hover {background: #363a3f;border: 1px solid #282b2f;border-bottom: 0;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;padding: 0;}
.megamenu >li.active {background: #ffffff;}
.megamenu >li >a {font-size: 15px;height: 19px;outline: 0;text-decoration: none;display: block;padding: 19px 15px 18px 15px;color: #fff;margin: 0 13px 0 0;background: url("../img/dropdown.png") no-repeat right 24px;}
.megamenu >li .megamenu_drop {padding-right: 24px;}
.megamenu > li.first {border: 0;background: none;margin: 0;padding: 0;}
.megamenu > li.first:hover {background: none;}
.megamenu > li > a.first {padding: 0 0 0 0;background: none;height: 57px;margin: 0 26px 0 0;}
.megamenu > li > a.first:hover {background: none;}
.megamenu > li.last {float: left;margin: 0;border-left: 1px solid #d3d3d3;background: url("../img/dropdown.png") no-repeat right}
.megamenu > li.last:hover {background: url("../img/dropdown.png") no-repeat right #ffffff;}
.megamenu > li > a.last {padding: 20px 30px 19px 22px;color: #45515e;}
.megamenu > li > a.last:hover {background: none;}
.megamenu > li img {border: 0;}
.megamenu >li:hover >a {color: #fff;}
.megamenu li .dropdown_fullwidth {position: absolute;margin: 0 0 0 0;padding: 15px 0;left: -9999em;top: -9999em;display: block;zoom: 1;z-index: 9999999;width: 263px;border: 0;border-top: 0;color: #45515e;height: auto;}
.megamenu li:hover .dropdown_fullwidth {top: 55px;left: -1px;background: #363a3f;color: #45515e;}
.ustmenuparcag {width: 184px;height: auto;float: left;margin: 0 0 0 0;padding: 0 0 0 0;}
.ustmenuparcag.mar {margin: 0 0 0 15px;}
.ustmenuparcag5 {width: auto;float: left;margin: 0 0 0 25px;}
.ustmenuparcag2 {width: auto;float: left;margin: 40px 0 0 50px;}
.ustmenuparcag3 {width: auto;float: left;margin: 0 0 0 20px;}
.ustmenuparcag img {float: none;margin: 0;padding: 0;}
ul.ustmenuparca {list-style-type: none;padding: 6px 0;margin: 0 0 0 23px;width: 205px;float: left;border: none;}
ul.ustmenuparca.uzun {list-style-type: none;padding: 6px 0;margin: 0 0 0 10px;width: 210px;float: left;border: none;}
ul.ustmenuparca.mar {margin: 0 0 0 0;}
ul.ustmenuparca.nob {border-bottom: 1px solid #dedede;}
ul.ustmenuparca li {padding-left: 0;margin: 5px 0;display: block;}
ul.ustmenuparca li a {background: url(../img/site-link-arrows.png) left -25px no-repeat;padding-left: 16px;color: #fff;font-size: 16px;line-height: 16px;}
ul.ustmenuparca li a:hover {background: url(../img/site-link-arrows.png) left -25px no-repeat;color: #fff;}
.ustmenuparcag4 {width: 232px;height: 125px;float: left;margin: 0 0 0 45px;background: url(../img/akampanya.png) no-repeat;}
.ustmenuparcag4 h1 {width: 232px;height: 14px;float: left;background: #343434;text-align: center;color: #ffffff;font-size: 14px;font-weight: normal;padding: 11px 0;margin: 0;}
ul#akampanya {list-style-type: none;margin: 0 0 0 2px;padding: 3px 0 0 0;background: url(../img/kam.png) repeat;float: left;width: 75px;height: 84px;}
ul#akampanya li {display: block;margin: 3px 10px;padding: 0;}
ul#akampanya li p {color: #ffffff;font-size: 15px;font-weight: bold;margin: 0;padding: 0;text-align: center;}
ul#akampanya1 {list-style-type: none;margin: 0;padding: 3px 0 0 0;background: none;float: left;width: 77px;height: 84px;}
ul#akampanya1 li {display: block;margin: 3px 10px;padding: 0;}
ul#akampanya1 li p {color: #ffffff;font-size: 15px;font-weight: bold;margin: 0;padding: 0;text-align: center;background: url(../img/efiyat.png) no-repeat;}
ul#akampanya2 {list-style-type: none;margin: 0 0 0 2px;padding: 3px 0 0 0;background: url(../img/kam.png) repeat;float: left;width: 75px;height: 84px;}
ul#akampanya2 li {display: block;margin: 3px 10px;padding: 0;}
ul#akampanya2 li p {color: #ffffff;font-size: 15px;font-weight: bold;margin: 0;padding: 0;text-align: center;}
.cbp-fwslider {position: relative;margin: 0 0 10px;overflow: hidden;padding: 0px 0 60px;top: -188px;}
.cbp-fwslider ul {margin: 0;padding: 0;white-space: nowrap;list-style-type: none;}
.cbp-fwslider ul li {transform: translateZ(0);float: left;display: block;margin: 0;padding: 0;}
.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {display: block;text-align: center;outline: none;}
.cbp-fwslider ul li > a img {border: none;display: block;margin: 0 auto;max-width: 100%;}
.cbp-fwslider nav span {position: absolute;top: 50%;width: 50px;height: 100px;background: #47a3da;color: #fff;font-size: 50px;text-align: center;margin-top: -50px;line-height: 100px;display: none;cursor: pointer;font-weight: normal;}
.cbp-fwslider nav span:hover {background: #378fc3;}
.cbp-fwslider nav span.cbp-fwnext {right: 0px;}
.cbp-fwslider nav span.cbp-fwprev {left: 0px;}
.cbp-fwdots {position: absolute;bottom: 0px;white-space: nowrap;text-align: center;width: 100%;display: none;}
.cbp-fwdots span {display: inline-block;width: 18px;height: 18px;background: #ddd;margin: 4px;border-radius: 50%;cursor: pointer;}
.cbp-fwdots span:hover {background: #999;}
.cbp-fwdots span.cbp-fwcurrent {background: #47a3da;box-shadow: 0 0 0 2px #47a3da;transition: box-shadow 0.2s ease-in-out;}
/****/
.headerbg {position: relative;margin: 0 0 10px;overflow: hidden;top: -188px;}
.headerbg ul {height: 450px;}
.h292 {/* height: 322px !important; */}
/*
=================================================================
(#m04fte) Footer Element
=================================================================
*/

#footer { width: 100%; }
#footer span.line { width: 100%; background: url(../img/headerAltCizgiMavi.png); height: 3px; display: block;    float: left; margin-top: -1px; }
#footer .footer-site-link { width: 100%; background: url(../img/footer-bg.jpg); padding-top: 30px; padding-bottom: 8px; }
#footer .footer-inner{ width: 1000px; margin: 0 auto; }
#footer .site-link-inner { width: 800px; float: left }
#footer .footer-site-link .site-link-inner ul { float: left; margin-right: 55px; text-align: left; }
#footer .footer-site-link .site-link-inner ul li h2 { margin-bottom: 15px; font-size: 16px; color: #ffffff;    padding-left: 14px; background: url(../img/site-link-arrows.png) left 5px no-repeat; }
#footer .footer-site-link .site-link-inner ul li a { margin-bottom: 12px; display: block; padding-left: 10px;    background: url(../img/site-link-arrows.png) left -25px no-repeat; font-size: 16px; color: #f7f7f7;    transition: all 0.1s ease-in-out; /*dfgfdertert*/    -o-transition: all 0.1s ease-in-out;    -ms-transition: all 0.1s ease-in-out;    -moz-transition: all 0.1s ease-in-out;    -webkit-transition: all 0.1s ease-in-out;}
#footer .footer-site-link .site-link-inner ul li a:hover { color: #eee; }
#footer .contact-area { float: left; margin-left: 9px; width: 191px; }
#footer .contact-area span.line { display: block; width: 100%; height: 7px; background: url(../img/social-top.png); margin-bottom: 12px; }
#footer .contact-area p {color: white; text-align: center; font-size: 16px; position: relative; }
#footer .contact-area p span {font-size: 16px; color: white; }
#footer .contact-area p span.tel-icon { position: absolute; right: 30px; top:4px; background: url(../img/tel-icon.png); width: 15px; height: 22px;    }
#footer .contact-area span.text {color: white; font-size: 15px; display: block; text-align: center;margin-bottom: 14px;}
#footer .contact-area .bottom { margin-top: 35px; }
#footer .contact-area .socials-btn a { display: block; float: left; width: 76px; margin-left: 13px; height: 57px; background: url(../img/social-buttons.png) }
#footer .contact-area .socials-btn a.fb { background-position: left top; }
#footer .contact-area .socials-btn a.tw { background-position: right top; }
#footer .footer-bar { width: 100%; background: url(../img/footer-bar-bg.jpg); padding: 10px 0 9px 0;}
#footer .footer-bar .inner { width: 1000px; margin: 0 auto; }
#footer .footer-bar p { width: 50%; color: white; font-size: 15px; line-height: 35px; }
#footer .footer-bar p b { color: white; font-size: 15px; }
#footer .footer-bar span.icon { display: block; width: 44px; height: 35px; background: url(../img/bottom-icon.png); }
/*
=================================================================
(#m05inx) İndex Element
=================================================================
*/
#contanier {}
.domainsorgulama {width: 986px;margin: 0 auto;display: block;background: url(../img/dombg.png);height: 55px;-webkit-border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;padding: 7px;}
.domainname {float: left;width: 447px;}
.domainname span {-moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, .16);-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .16);box-shadow: inset 0 0 100px rgba(0, 0, 0, .16);color: #5a758b;font-size: 21px;display: block;float: left;padding: 0 11px;height: 54px;line-height: 54px;background-color: #e2e2e2;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.domainname input.domaintext {width: 218px;padding: 18px 11px;background-color: #fff;margin: 0px;border-radius: 0px;height: 18px;border: none;float: left;}
.domainname input.domainbutton {width: 93px;height: 54px;margin: 0px;border-radius: 0px;float: left;-webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;-moz-border-radius-topright: 3px;-moz-border-radius-bottomright: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;background: url(../img/sorgula-bg.png);color: white;}
.domainpricing {background: url(../img/domain-bg.png) no-repeat 0px 0px;height: 55px;float: left;/* width: 514px; */margin-left: 15px;202225;border-radius: 5px;padding: 1px;}
.pricingbox {float: left;background: url(../img/domain-bg2.png) no-repeat top left;padding: 12px;margin-top: 1px;}
.pricingbox span {font-size: 13px;color: #fff;}
.pricingbox p {font-size: 10px;color: #fff;}
.allpricingbox {float: left;padding: 15px 18px;background-color: #202225;border-radius: 5px;margin: 6px 9px;}
.allpricingbox span {font-size: 13px;color: #fff;}
.mainortasol {background: url(../img/hosting-bg.png) no-repeat;width: 325px;height: 159px;float: left;margin: 20px 4px 0 0;padding: 10px 10px 10px 0}
.mainortasolbg2 {background: url(../img/hosting-bg2.png) no-repeat !important;width: 325px;height: 159px;float: left;margin: 20px 0px 0 0;padding: 10px 0px 10px 0;}
.mainortasol img {float: right;width: auto;height: auto;margin: 0 0 0 0;position: relative;}
.mainortasol .yazi {float: left;height: 150px;overflow: hidden;width: 183px;padding-left: 7px;}
.mainortasol .yazi h1 {color: #fff;font-weight: normal;font-size: 27px;margin: 10px 0;text-align: left;width: 175px}
.mainortasol .yazi p {color: #fff;font-weight: normal;font-size: 15px;line-height: 20px;margin: 0 0;text-align: left;width: 195px;}
.paketbuton {background: url(../img/arrow.png) no-repeat 63px 9px;width: 77px;height: 24px;float: right;margin: 10px 0 0 0;color: #ffffff;}
.paketbuton a {color: #2e2e37;font-size: 15px;font-weight: bold;padding: 7px 19px 5px 0;text-align: right;float: right;}
.mainortaorta {background: url(../img/hosting-bg3.png) no-repeat;width: 666px;height: 126px;float: left;margin: 7px 0px 0 0; }
.mainortaorta img {float: left;width: auto;height: auto;margin: -9px 0 0 0;position: relative;}
.mainortaorta .yazi {float: left;height: 150px;overflow: hidden;width: 345px;padding-right: 7px;}
.mainortaorta .yazi h1 {color: #fff;font-weight: normal;font-size: 27px;margin: 10px 0;text-align: right;}
.mainortaorta .yazi p {color: #fff;font-weight: normal;font-size: 15px;line-height: 20px;margin: 0 0;text-align: right;}
.paketbuton {background: url(../img/arrow.png) no-repeat 63px 9px;width: 77px;height: 24px;float: right;margin: 10px 0 0 0;color: #ffffff;}
.paketbuton a {color: #2e2e37;font-size: 15px;font-weight: bold;padding: 7px 19px 5px 0;text-align: right;float: right;}
.mainsag {float: right}
.mainsol {float: left;width: 669px;}
.mainortasag {width: 309px;float: right;margin: 20px 4px 0 0;}
.mainortasag .ortasagtop {height: 67px;background: url("../img/right-box-tab-bg.png");display: block;width: 309px;padding-top: 23px;}
.mainortasag .ortasagtop  h1 {text-align: center;font-size: 23px;color: #fff;}
.mainortasag .ortasagtop  span {font-size: 20px;color: #fff;text-align: center;display: block;}
.mainortasag .ortasagmid {background: url("../img/right-box-mid-bg.png");height: 159px;}
.mainortasag .ortasagmid  img {display: block;margin: 0 auto;padding-top: 4px;}
.mainortasag .ortasagmid  p {font-size: 18px;color: #fff;text-align: center;display: block;}
.mainortasag .ortasagbottom {background: url("../img/right-box-bottom-bg.png");font-size: 16px;color: #fff;text-align: center;display: block;padding: 23px 0px;}
.mainortasag .ortasagbottom  span {}
.mainortasag .ortasagbottom  span  strong {}
.titleseperator {padding: 40px 0px 0px 0px;text-align: center;}
.titleseperator h2 {padding: 12px;color: #2f3c46;font-size: 21px;margin: -36px auto;text-align: center;background: url(../img/bodybg.png) repeat;padding: 20px;display: inline-table;}
.titleseperator div {border-top: 1px solid #bec2c6;}
.nedenbox {width: 170px;float: left;background: url(../img/anasayfaBoxSpt.png) no-repeat;padding: 13px;margin-right: 5px;}
.nedenbox:hover {background: url(../img/anasayfaBoxSpt.png) no-repeat -196px 0px;cursor: pointer;}
.yediyirmidort-icon {background: url(../img/neden-teknik-data-sprite.png) no-repeat 0px 0px;width: 57px;height: 41px;display: block;margin-left: 56px;margin-top: 27px;}
.communication-icon {background: url(../img/neden-teknik-data-sprite.png) no-repeat -76px -11px;width: 57px;height: 41px;display: block;margin-left: 56px;margin-top: 27px;}
.mind-icon {background: url(../img/neden-teknik-data-sprite.png) no-repeat -150px 0px;width: 57px;height: 54px;display: block;margin-left: 56px;margin-top: 15px;}
.shield-icon {background: url(../img/neden-teknik-data-sprite.png) no-repeat -210px -7px;width: 57px;height: 48px;display: block;margin-left: 56px;margin-top: 27px;margin-bottom: -6px;}
.handshake-icon {background: url(../img/neden-teknik-data-sprite.png) no-repeat -280px -9px;width: 57px;height: 41px;display: block;margin-left: 56px;margin-top: 27px;}
.nedenbox  p {color: #fff;font-size: 15px;padding: 10px 0px;text-align: center;height: 111px;}
.nedenbox .going {color: #fff;font-size: 15px;margin-top: 23px;display: block;text-align: center;margin-bottom: 3px;}
.mutlumusteriler {}
.mutlumusterilerslider li:nth-of-type(5n+0) {background: transparent;height: 105px;}
.mutlumusterilerslider li {background: url(../img/slidersep.png) no-repeat center right;height: 105px;}
.mutlumusterilerslider li img {bottom: 0px;position: absolute;}
.nedenbg { width: 100%; height: 12px;background: url(../img/nedenbg.png) repeat center right;margin-top: -67px;margin-bottom: 67px;}
.nedenbgs { width: 100%; height: 12px;background: url(../img/nedenbg.png) repeat center right; -webkit-box-shadow: -67px;; /* margin-bottom: 67px; */}
/*
=================================================================
(#m06dmn) Domain Page
=================================================================
*/
.alanadlari .domainsorgulamabig {width: 986px;margin: 0 auto;display: block;background: url(../img/alanadibg.png);height: 55px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding: 7px;position: relative;z-index: 666;}
.alanadlari .domainnamebig {float: left;width: 997px;}
.alanadlari .domainnamebig span {-moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, .16);-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .16);box-shadow: inset 0 0 100px rgba(0, 0, 0, .16);color: #5a758b;font-size: 21px;display: block;float: left;padding: 0 48px 0px 11px;height: 54px;line-height: 54px;background-color: #e2e2e2;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.alanadlari .domainnamebig input.domaintext {width: 675px;padding: 24px 11px 12px 11px;background-color: #fff;margin: 0px;border-radius: 0px;height: 18px;border: none;float: left;font-size: 24px;}
.alanadlari .domainnamebig input.domainbutton {width: 167px;height: 54px;margin: 0px;border-radius: 0px;font-size: 23px;float: left;-webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;-moz-border-radius-topright: 3px;-moz-border-radius-bottomright: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;background: url(../img/sorgula-bg.png);color: white;}
.alanadlari .domainuzantilar {background: url(../img/headeruzanti.png);height: 127px;width: 996px;margin-top: 11px;margin-bottom: 70px;padding-top: 7px;padding-left: 5px;}
.alanadlari .domainuzantilar ._rows{float:left;width: 559px;}
.alanadlari .type-2.trs-tab-wrapper {  margin-top: -46px; }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav  { float: left; clear: both;  }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a { width: 220px; height: 35px; float: left; display: block; background: url(../img/duz-tab-nav.png) left 36px; position: relative;}
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a span {color: #fff; margin: 11px 0px 0px 25px; font-size: 13px;display: block;}
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a.active {  background-position: left top !important}
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a.left { margin-right: -36px; }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a.z1 { z-index:5; }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a.z2 { z-index:4; }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a.z3 {  z-index:3; }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-nav a.right { border-top-right-radius: 3px; }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-container { float: left; clear: both; padding: 22px 10px; width: 967px }
.alanadlari .type-2.trs-tab-wrapper .first .form-wrap { float: left; width: 422px;  }
.alanadlari .type-2.trs-tab-wrapper .first .form-wrap ._row { float: left;width: 100%; clear: both; margin-bottom: 13px;  }
.alanadlari .type-2.trs-tab-wrapper .first .form-wrap ._row .short { display: block; width: 421px; height: 57px; border: 1px solid #bfbfbf; border-radius: 3px; }
.alanadlari .type-2.trs-tab-wrapper .first .form-wrap ._row .short input { display: block; width: 320px; padding: 10px 20px; font-size: 15px; line-height: 30px; height: 36px;}
.alanadlari .type-2.trs-tab-wrapper .first .form-wrap ._row span.icon { display: block; width: 60px; height: 57px; background: url(../img/panel-form-icon.png); float: left }
.alanadlari .type-2.trs-tab-wrapper .first .form-wrap ._row span.password-icon { background-position: right top; }
.alanadlari .custom-checkbox { display: block; padding-left: 18px; position: relative; margin-top: 9px; cursor: pointer; font: 14px/19px Arial; color: #41454b; background: url(../img/domaincheckbg.png) no-repeat 0px 0px; padding: 10px 0px 10px 32px; height: 15px; display: block; width: 72px; margin: 3px;}
.alanadlari .custom-checkbox span.text {  font-size: 17px; color: #fff; }
.alanadlari .custom-checkbox .ck { display: block; width: 21px; height: 20px; background: url(../img/p-k-checkbox.png); position: absolute; top: 6px; left: 6px; }
.alanadlari .custom-checkbox .ck.active { background-position: right top !important; }
.alanadlari .custom-checkbox input  { position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; filter:alpha(opacity=0); }
.alanadlari .type-2.trs-tab-wrapper .trs-tab-container p {font-size: 14px; color: #3a3f47;margin-bottom: 25px;}
.alanadlari .table-striped tbody tr:nth-child(odd) td,.alanadlari .table-striped tbody tr:nth-child(odd) th {background-color: transparent;}
.alanadlari .table-striped thead  tr  td,.alanadlari .table-striped thead  tr th {background: url("../img/tablebg.png") repeat-x;border-right: 1px solid #a6a3a3;}
.alanadlari .table-striped thead tr th {color: #fff;font-size: 14px;}
.alanadlari .table-striped tbody tr td {color: #50555d; font-size: 14px;border-right: 1px solid #a6a3a3;border-top: 0px !important;}
.alanadlari .minik{font-size: 11px !important;color: #606773;}
.alanadlari .uzantilar{float:left;width: 556px;}
.alanadlari .alanadslider {width: 390px;float: right;}
.alanadlari .alanadslider .domainsliderelement {color: #fff;margin-top: 19px;}
.alanadlari .alanadslider .domainsliderelement img{float: left;margin-right: 16px;}
.alanadlari .alanadslider .domainsliderelement h1{font-size: 17px;float: left;width: 70%;}
.alanadlari .alanadslider .domainsliderelement p{font-size: 13px;float: left;width: 60%;padding-top: 5px;}
.alanadlari .bx-wrapper .bx-viewport  {height:115px !important;}
.alanadlari .bx-wrapper .bx-prev {left: -35px;background: url(../img/domainsliderspt.png)  no-repeat 0 0px;}
.alanadlari .bx-wrapper .bx-next {right: -20px;background: url(../img/domainsliderspt.png)  no-repeat -39px 0px;}
.alanadlari .bx-wrapper .bx-prev:hover {background-position: 0px 0px;}
.alanadlari .bx-wrapper .bx-next:hover {background-position: -39px 0px;}
.alanadlari .bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;margin-top: -16px;outline: 0;width: 26px;height: 56px;text-indent: -9999px;z-index: 9999;}
.alanadlari .bx-wrapper .bx-controls-direction a.disabled {display: none;}
.pagedetailtext h1{font-size: 25px; color: #232323; padding: 10px 0px 15px;font-weight: bold;}
.pagedetailtext p{font-size: 17px; color: #232323; padding: 10px 0px;}
.aboutpage {}
.aboutpage ul {float: left;padding-left: 20px;}
.aboutpage ul li {margin-bottom: 12px;  display: block;  padding-left: 10px;  background: url(../img/arrow.png) left 3px no-repeat;  font-size: 16px;  color: #232323;  transition: all 0.1s ease-in-out;  -o-transition: all 0.1s ease-in-out;  -ms-transition: all 0.1s ease-in-out;  -moz-transition: all 0.1s ease-in-out;  -webkit-transition: all 0.1s ease-in-out;}
.aboutpage .detailpageright {float: right;width: 309px;display: block;  float: right;  position: relative;right: -18px;}
.aboutpage .detailmenu {float: left;width: 289px;}
.aboutpage .detailmenu .menutop {background: url(../img/hakkimizda-box-ust-bg.png) left 3px no-repeat;}
.aboutpage .detailmenu .menutop  h1 {  display: block;  padding-left: 10px;  font-size: 20px;  color: #fff;padding: 28px 3px 25px 28px;  float: left;}
.aboutpage .whomenuicon {  display: block;  background: url(../img/hakkimizda-neden-biz-icon.png) left 3px no-repeat;  font-size: 20px;  color: #fff;float: right;  width: 56px;  height: 36px;  margin-top: 11px;  margin-right: 20px;}
.aboutpage .fastmenuicon {  display: block;  background: url(../img/hakkimizda-hizli-menu-icon.png) left 3px no-repeat;  font-size: 20px;  color: #fff;float: right;  width: 56px;  height: 53px;  margin-top: 11px;  margin-right: 20px;}
.aboutpage .transmenuicon {  display: block;  background: url(../img/hakkimizda-hosting-transfer-icon.png) left 3px no-repeat;  font-size: 20px;  color: #fff;width: 56px;height: 53px;margin-top: 16px;margin-right: 0px;float: right;}
.aboutpage .fastmenu .fastmenusprite {background: url("../img/hakkimizda-box-line.png") no-repeat 0px 0px; width: 100%; height: 3px; display: block;}
.aboutpage .who .fastmenusprite {background: url("../img/hakkimizda-box-line.png") no-repeat 0px -88px; width: 100%; height: 3px; display: block;}
.aboutpage .transmenu .fastmenusprite {background: url("../img/hakkimizda-box-line.png") no-repeat 0px -45px; width: 100%; height: 3px; display: block;}
.aboutpage .menumiddle {background: url(../img/hakkimizda-box-alt-bg.png) left 0px no-repeat;display: block;height: 260px;}
.aboutpage .menumiddle > ul {padding-top: 27px;}
.aboutpage .menumiddle > ul > li {background: url(../img/site-link-arrows.png) left -25px no-repeat;}
.aboutpage .menumiddle > ul > li a{color:#fff;}
.aboutpage .who .menumiddle > ul > li,.transmenu .menumiddle > ul > li {background: url(../img/hakkimizda-check-icon.png) left 5px no-repeat;padding-left: 25px;color: #fff;}
.aboutpage .pagedetailul {width: 60%; display: inline-table;}
/*
=================================================================
(#m07csl) Costumer Login
=================================================================
*/
.musteripanel .type-2.trs-tab-wrapper { margin-top: -46px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav  { float: right; clear: both;  }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a { width: 220px; height: 35px; float: left; display: block; background: url(../img/ters-tab-nav.png) left 36px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a.active {  background-position: left top !important}
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a.left { margin-right: -36px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a.right { border-top-right-radius: 3px; }
.musteripanel .type-2.trs-tab-wrapper .trs-tab-container { float: left; clear: both; padding: 22px 10px; width: 967px }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap { float: left; width: 422px;  }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row { float: left;width: 100%; clear: both; margin-bottom: 13px;  }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row .short { display: block; width: 421px; height: 57px; border: 1px solid #bfbfbf; border-radius: 3px; }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row .short input { display: block; width: 320px; padding: 10px 20px; font-size: 15px; line-height: 30px; height: 36px;}
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row span.icon { display: block; width: 60px; height: 57px; background: url(../img/panel-form-icon.png); float: left }
.musteripanel .type-2.trs-tab-wrapper .first .form-wrap ._row span.password-icon { background-position: right top; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox { display: block; padding-left: 29px; position: relative; margin-top: 9px; cursor: pointer; font: 14px/19px Arial; color: #41454b; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox span.text {  font: 16px/20px Arial; color: #41454b; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox .ck { display: block; width: 21px; height: 20px; background: url(../img/p-k-checkbox.png); position: absolute; top: 1px; left: 0; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox .ck.active { background-position: right top !important; }
.musteripanel .type-2.trs-tab-wrapper .custom-checkbox input  { position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; filter:alpha(opacity=0); }
.musteripanel #customerSigninFormSubmit { width: 124px; height: 36px; background: url(../img/signin-btn.png); color: white; font-size: 16px }
.musteripanel .error-input { border: 1px solid red !important; }
.musteripanel .first .right-column { float: right; width: 493px }
.musteripanel .first .right-column p { float: right; width: 493px; margin-bottom: 25px; font-size: 16px; color: #374e59 }

/*
=================================================================
(#m08csr) Costumer Register
=================================================================
*/

.musteripanel .type-2.trs-tab-wrapper .trs-tab-nav a span {color: #fff; margin: 11px 0px 0px 29px; font-size: 16px;display: block;}
.musteripanel .dmr-tab-wrapper 						 {margin-top: -35px;z-index: 9999999;position: relative;}
.musteripanel .dmr-tab-wrapper .dmr-tab-nav a.m   	 { display: inline-block; padding: 10px 20px; text-decoration: none; border-right: 1px solid #c3c1c1; padding: 20px; background-color: #181818; color: #fff; font-size: 17px; margin-right: -4px; width: 201px; font-family: 'Museo700';}
.musteripanel .dmr-tab-container { z-index: 9; position: relative; /* stroke */  background-color: #fff; /* layer fill content */  /* drop shadow */  /* drop shadow */  /* drop shadow */; /* min-height: 360px; */ width: 969px; min-height: 160px;}
.musteripanel .dmr-tab-wrapper .dmr-tab-content { position: relative;margin-top: 20px; color: #373737; /* text color */ font-family: 'Museo300'; font-size: 17px; padding: 20px; text-align: center;}
.musteripanel .dmr-tab-nav .active {background: url(../img/p-k-selected.png) !important;width: 281px;height: 52px !important;display: block;}
.musteripanel .dmr-tab-nav {background: url(../img/p-k-panel-bg.png);width: 942px;height: 101px;}
.musteripanel .dmr-tab-nav .m:hover {text-decoration: none;}
.musteripanel .dmr-tab-nav .m {background: url(../img/p-k-unselected.png);width: 281px;height: 42px;display: block;float: left;margin-left: 15px;margin-top: 15px;color: #3f4347;font-size: 22px;padding-top: 29px;padding-left: 35px;padding-right: 20px;}
.musteripanel .bireyselicon{background: url(../img/p-k-icon.png) no-repeat;width: 32px;height: 31px;display: block;float: left;}
.musteripanel .kurumsalicon {background: url(../img/p-k-icon.png) no-repeat -55px 0px;width: 49px;  height: 31px;  display: block;  float: left;}
.musteripanel .zatenmusteri{color: #fff;text-align: center;font-size: 16px;padding-top: 25px;padding-left: 45px;float: left;}
.musteripanel .zatenmusteriicon{background: url(../img/p-k-arrow.png) no-repeat 0px 0px;width: 24px;height: 76px;  display: block;float: right;position: relative;margin-top: -95px;margin-right: -15px;}
.pkuyelikform{margin: 10px;}
.pkuyelikform ._rows{margin: 10px 0px;}
.pkuyelikform ._rows .left{width: 50%;}
.pkuyelikform ._rows .right{text-align: left;}
.pkuyelikform ._rows .pkformtext{color: #343434;font-size: 15px;width: 150px;float: left;padding-top: 21px;}
.pkuyelikform ._rows  a{border-bottom: solid 1px #000000; color: #000}
.pkuyelikform ._rows  .pkforminput{float: left;width: 275px; height: 46px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color: #f5f5f5; -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.75); -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.75); box-shadow: inset 0 0 2px rgba(0,0,0,.75);}
#myformBtnbireysel, #myformBtnkurumsal {background: url(../img/p-k-record-button.png) no-repeat;width: 305px;height: 49px;  display: block;float: right !important;color: #fff;  font-size: 18px; text-shadow: 0 1px 0 rgba(0,0,0,.24);}
.pkuyelikform .checkboxbg {width: 336px;height: 25px;float: right;margin-right: 35px;padding: 10px;-moz-border-radius: 2px / 4px; -webkit-border-radius: 2px / 4px; border-radius: 2px / 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color: #f5f5f5; -moz-box-shadow: inset 0 0 7px rgba(0,0,0,.21); -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.21); box-shadow: inset 0 0 7px rgba(0,0,0,.21);}
.musteripanel .checkboxbg  .ck {display: block;width: 21px;height: 20px;background: url(../img/p-k-checkbox.png);position: absolute;top: 12px !important;left: 15px !important;}
.musteripanel .checkboxbg .ck.active { background-position: right top !important; }.musteripanel .checkboxbg  span.text {display: block;padding-left: 15px;}
.pkuyelikform .error-input { border: 0px solid red !important; }
.pkuyelikform .error-input input { border: 1px solid red !important; }
.tres-customDropDown { background: #FFFFFF; float: left; height: 19px; padding: 3px 5px; position: static; width: 180px; border: 3px solid #4c4640; font: 16px Arial; }
.tres-customDropDown.active { position: relative; }
.tres-customDropDown.active .arrow { background-position: 2px -26px; }
.tres-customDropDown > label { color: #515151; cursor: pointer; display: block; font: 16px Arial; height: 100%; width: 100%; float: left; }
.tres-customDropDown .arrow { background: url(../i/dd-arrow.png) 2px 5px no-repeat; display: block; float: right; height: 100%; width: 18px; }
.tres-customDropDown .mnf-dropDownSpan { color: #515151; display: inline-block; float: left; font: 16px/20px Arial; height: 100%; width: 155px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis  }
.tres-customDropDown .hiddenDiv { background-color: #fff;  height: 0; top: 26px; overflow: hidden; position: absolute; width: 100%; z-index: 25; }
.tres-customDropDown .hiddenDiv.active { height: auto; max-height: 130px; position: absolute; top: 100%; width: 100%; border: 3px solid #4c4640; /* border 3px olduğu için left: -3px */ left: -3px; }
.tres-customDropDown .hiddenDiv ul > li { color: #717871; cursor: pointer; border-top: 1px solid #e7e2df; font: 14px/25px Arial; padding-left: 10px; width: 172px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis }
.tres-customDropDown .hiddenDiv ul > li:hover {  background: #8cc832; color: white; }
.musteripanel .ui-selectmenu { float: left;width: 285px !important;height: 56px;-moz-border-radius: 4px;border: 1px solid #cccccc !important; -webkit-border-radius: 4px;border-radius: 4px;-moz-background-clip: padding;-webkit-background-clip: padding-box;background-clip: padding-box;background-color: #f5f5f5;-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.75);-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.75);box-shadow: inset 0 0 2px rgba(0,0,0,.75);display:block;}
.musteripanel .ui-selectmenu:hover{text-decoration:none;}
.musteripanel .ui-selectmenu-icon { position: absolute; right: 16px; margin-top: -2px; top: 44%; display: block;}
.musteripanel .ui-selectmenu-menu { padding: 0; margin: 0; position: absolute; top: 0; display: none; z-index: 1005 ; width: 275px !important;}
.musteripanel .ui-selectmenu-menu ul { padding: 0; margin: 0; list-style: none; position: relative; overflow: auto; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch ; width: 285px !important;}
.musteripanel .ui-selectmenu-open { display: block }
.musteripanel ul.ui-selectmenu-menu-popup { margin-top: -1px }
.musteripanel .ui-selectmenu-menu li { padding: 0; margin: 0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important }
.musteripanel .ui-selectmenu-menu li a, .ui-selectmenu-status { line-height: 1.4em; display: block; padding: 6px 6px; outline: none; text-decoration: none; font-size: 10px;}
.musteripanel .ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default }
.musteripanel .ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px }
.musteripanel .ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0 }
.musteripanel .ui-selectmenu-status { line-height: 1.4em; color: #000; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-top: 15px;}
.musteripanel .ui-selectmenu-status:hover {text-decoration:none !important}
.musteripanel .ui-selectmenu-menu li span, .ui-selectmenu-status span { display: block; margin-bottom: .2em }
.musteripanel .ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold }
.musteripanel .ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8 }
.musteripanel .ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em }
.musteripanel .ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display: block; padding: .6em .5em 0; font-weight: bold }
.musteripanel .ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0 }
.musteripanel * html .ui-selectmenu-menu li { border-color: pink; filter: chroma(color=pink); width: 100% }
.musteripanel * html .ui-selectmenu-menu li a { position: relative }
.musteripanel * + html .ui-state-disabled, * + html .ui-state-disabled a { color: silver }
.musteripanel .ui-widget { font-family: Verdana, Arial, sans-serif; font-size: 1.1em }
.musteripanel .ui-widget .ui-widget { font-size: 1em }
.musteripanel .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana, Arial, sans-serif; font-size: 1em }
.musteripanel .ui-widget-content { border: 1px solid #aaa; background: #fff 50% 50% repeat-x; color: #222 }
.musteripanel .ui-widget-content a { color: #222 }
.musteripanel .ui-widget-header { border: 1px solid #aaa; background: #ccc 50% 50% repeat-x; color: #222; font-weight: bold }
.musteripanel .ui-widget-header a { color: #222 }
.musteripanel .ui-icon { width: 16px; height: 16px; background-image: url("../img/kayitarrows.png"); background-position: 16px 16px ; background-repeat: no-repeat;}
.musteripanel .ui-icon-triangle-1-s { background-position: 0px 0px;}

/*
=================================================================
(#m09aph) App Hosting
=================================================================
*/

.uhlongelement {display: block;  float: left;width: 1000px;  margin-left: 13px;margin: 6px 0px;height: 129px;background: url(../img/u-h-long-bg.png);}
.uhlongleft {float: left;color: #0d0d0f;width: 710px;}
.uhlongleft  img {float: left;margin: 21px;}
.uhlongleft  h1 {font-size: 27px;padding-top: 10px;}
.uhlongleft  p {font-size: 15px;padding-top: 16px;}
.uglongright {float: right;width: 283px;}
.uglongright  h2 {font-size: 17px;padding: 24px 14px 12px;color: #fff;}
.uhbuying {width: 256px;  margin-left: 13px;  margin: 6px 0px;height: 59px;background: url(../img/u-h-buy-button.png);display: block;color: #fff;margin-left: 14px;}
.uhbuying  span {padding: 23px 0px 10px 80px;display: block;}
.uhshortareaelement {width: 491px; height: 133px;background: url(../img/u-h-short-bg.png); float: left; margin: 8px 18px 8px 0px;}
.uhshortareaelement  h1 { color: #fff;font-size: 23px;float: left; padding-top: 13px;  padding-left: 25px;}
.uhshortareaelement  p {color: #fff;font-size:16px;float: left;width: 340px;padding-top: 13px;padding-left: 25px;}
.uhshortareaelement  img {float: right;margin-top: -15px;margin-right: 15px;}
/*
=================================================================
(#m10byp) Buying Page
=================================================================
*/
.sipariselemet{width: 1000px;margin: 0 auto;}
.siparisadimlari{margin-top: -85px;float: left;}
.siparisadimlari .siparisbox{float: left;width: 195px;}
.siparisadimlari .siparisbox .siparisadi{background: url("../img/siparis-box.png") no-repeat 0px 0px;display: block;width: 181px;height: 40px; display: none;padding: 19px 30px 5px;font-size: 18px;  color: #fff;margin-left: -25px;  margin-top: -25px;}
.siparisadimlari .aktif .siparisadi{background: url("../img/siparis-box.png") no-repeat 0px 0px;display: block;width: 181px;height: 40px;display: block;padding: 19px 30px 5px;font-size: 18px;  color: #fff;margin: 0 auto;margin-left: -25px;margin-top: -25px;}
.siparisadimlari .siparisbox .siparisadim{font-size: 18px;color: #fff;background: url("../img/siparisback.png") no-repeat 0px 0px;padding: 8px;height: 23px;display: block;  margin: 0 auto;  text-align: center;  width: 21px;z-index: 77777;position: relative;margin-top: 64px;}
.siparisadimlari .aktif .siparisadim{font-size: 18px;color: #fff;background: url("../img/siparisaktifback.png") no-repeat 0px 0px;padding: 8px;height: 23px;display: block;margin: 0 auto;text-align: center;width: 21px;margin-top: 25px;}
.siparisadimlari .siparisbox .siparisicon{background: url("../img/sepet-icon.png") no-repeat 0px 0px;width: 18px;height: 18px;display: none;float: left;margin: -5px 27px 21px -2px;}
.siparisadimlari .aktif .siparisicon{background: url("../img/sepet-icon.png") no-repeat 0px 0px;width: 18px;height: 18px;display: block;float: left;margin: -5px 27px 21px -2px;}
.sipariselemet .vpshostingsep {height: 3px;width: 100%;background: url(../img/vpsline.png) repeat top left;display: block;position: relative;margin-top: -21px;;float: left;z-index: 666;}
.tamamlandi  .siparisicon, .tamamlandi  .siparisadi {display: none !important;}
.siparisadimlari .tamamlandi .siparisadim{font-size: 18px;color: #fff;background: url("../img/siparisaktifback.png") no-repeat 0px 0px;padding: 8px;height: 23px;display: block;  margin: 0 auto;  text-align: center;  width: 21px;z-index: 77777;position: relative;margin-top: 64px;}
/*
=================================================================
(#m11dtp) Detail Page
=================================================================
*/
.pageheader {width: 1000px;margin: 0 auto;height: 113px;}
.pageheader .pagetitle {font-size: 37px;color: #1477ba;float: left}
.pageheader .pagetitle .bold {}
.pageheader .pagetitle .normal {}
.pageheader .pageicon {float: right;}
.contactpageicon {width: 114px;height: 93px;background: url("../img/contactpageicon.png");display: block;}
.cdnpageicon {width: 114px;height: 114px;background: url("../img/cdnpageicon.png");display: block;margin-top: -19px;}
.aboutpageicon {width: 124px;height: 114px;background: url("../img/aboutpageicon.png");display: block;margin-top: 1px;}
.uhpageicon {width: 214px;height: 104px;background: url("../img/uhpageicon.png");display: block;margin-top: 5px;}
.pagedetailelement {-webkit-border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;padding: 12px;background-color: #fff;-moz-box-shadow: inset 0 0 2px #000;-webkit-box-shadow: inset 0 0 2px #000;box-shadow: inset 0 0 2px #000;width: 976px;margin: 0 auto;}


/**iletişim page*/
.iletisim .pagedetailelement .googleMaps{height: 285px}
.iletisim ._row {padding: 26px 0px 36px 0px;}
.iletisim ._row h2{margin:0px auto;width: 311px;background-color: #ffffff;margin-top: -30px;text-align: center;font-size: 25px; color: #50555d}
.iletisim ._row2 .column-left{width: 464px; float: left;position: relative;padding-left: 20px;}
.column-left h3{font-size:18px; font-weight: bold; color: #50555d; }
.column-left p {padding: 20px 0px 0px 0; font-size: 13px;display: block;margin-bottom: 5px}
.column-left ._number{font-size: 13px; display: block; padding-top:15px}
.column-left a {padding: 0px 0px 0px 0; font-size: 13px;display: block;line-height: 17px;}
.iletisim .error-input input ,.iletisim .error-input textarea { border: 1px solid red !important; }
.iletisim ._row2 .column-right{width: 50%; float: right}
.__row input{ width: 209px; height: 8px;padding: 15px 0px 15px 19px; float: left;border: 1px solid #e0e0e0; border-radius: 4px;background-color: #f5f5f5;margin:8px 8px 0px 0px }
.__row textarea{ width: 448px; height: 100px;padding: 15px 0px 15px 19px; float: left;border: 1px solid #e0e0e0; border-radius: 4px;background-color: #f5f5f5;margin:8px 8px 0px 0px }
.__row input#mesagesubmitBtn{ width:112px;height:36px;background: url("../img/iletisim-send-button.png"); border: 0; outline: none; float: right; margin-right: 19px;font-size: 13px;color: white;font-weight: bold; padding: 5px;}
.__row { clear:both; float:left; width: 100%; margin-bottom: 10px }

/*
=================================================================
(#m12hst) Hosting Page
=================================================================
*/
.hostingpageelemnt { width: 1000px; color: #2a3741; margin: 60px auto;}
.hostingpageelemnt h1{font-size: 26px;}
.hostingpageelemnt p{ font-size: 16px;}
.hostingpageelemnt img{ margin-top: -60px; margin-bottom: -60px;}
.hostingpageelemnt h1.left,.hostingpageelemnt p.left,.hostingpageelemnt h1.right,.hostingpageelemnt p.right{ width: 660px;}
.hostinfiyattablo {float: left;width: 187px; margin: -144px 5px 170px 0px;position: relative;}
.tabloelement {}
.tablotop {  width: 186px;}
.tablotop  span {background: url(../img/hosting-motto.png) 0px 0px no-repeat;font-size: 17px;color: #fff;padding: 12px 10px 11px 10px;display: block;text-align: center;}
.tablomid {background: url(../img/hosting-options2.png) 0px 0px no-repeat;width: 162px;height: 275px;padding: 6px 12px;}
.tablomid  ul {}
.tablomid  ul  li {margin: 18px 0px 19px;  display: block;  padding-left: 0px;font-size: 13px;  color: #f7f7f7;}
.tablobottom {}
.tablobottom  a {color: #fff;font-size: 21px;width: 186px;background: url(../img/hosting-buy-button2.png) -24px 0px no-repeat;height: 122px;display: block;}
.tablobottom  a  span {float: left;width: 186px;text-align: center;padding-top: 22px;font-size: 20px;}
.mavi .tablotop > h1 {background: url(../img/hosting-name-m.png) 0px 0px no-repeat;font-size: 16px;color: #fff;padding: 29px 4px 9px 4px;  display: block;text-align: center;}
.mavi .tablofiyat {width: 187px;background: url(../img/hosting-price-m.png) 0px 0px no-repeat;height: 86px;}
.mavi .tablofiyat  h1 {font-size: 35px;color: #fff;  font-size: 36px;padding: 12px 30px 6px 30px;  display: block;  text-align: center;float: left;width: 126px;}
.mavi .tablofiyat  p {color: #fff;font-size: 12px;padding-top: 21px;text-align: center;}
.lacivert .tablotop > h1 {background: url(../img/hosting-name-l.png) 0px 0px no-repeat;font-size: 16px;color: #fff;padding: 29px 4px 9px 4px;  display: block;text-align: center;}
.lacivert .tablofiyat {width: 187px;background: url(../img/hosting-price-l.png) 0px 0px no-repeat;height: 86px;}
.lacivert .tablofiyat  h1 {font-size: 35px;color: #fff;  font-size: 36px;padding: 12px 30px 6px 30px;  display: block;  text-align: center;float: left;width: 126px;}
.lacivert .tablofiyat  p {color: #fff;font-size: 12px;padding-top: 21px;text-align: center;}
.turuncu .tablotop > h1 {background: url(../img/hosting-name-t.png) 0px 0px no-repeat;font-size: 16px;color: #fff;padding: 29px 4px 9px 4px;  display: block;text-align: center;}
.turuncu .tablofiyat {width: 187px;background: url(../img/hosting-price-t.png) 0px 0px no-repeat;height: 86px;}
.turuncu .tablofiyat  h1 {font-size: 35px;color: #fff;  font-size: 36px;padding: 12px 30px 6px 30px;  display: block;  text-align: center;float: left;width: 126px;}
.turuncu .tablofiyat  p {color: #fff;font-size: 12px;padding-top: 21px;text-align: center;}
.yesil .tablotop > h1 {background: url(../img/hosting-name-y.png) 0px 0px no-repeat;font-size: 16px;color: #fff;padding: 29px 4px 9px 4px;  display: block;text-align: center;}
.yesil .tablofiyat {width: 187px;background: url(../img/hosting-price-y.png) 0px 0px no-repeat;height: 86px;}
.yesil .tablofiyat  h1 {font-size: 35px;color: #fff;  font-size: 36px;padding: 12px 30px 6px 30px;  display: block;  text-align: center;float: left;width: 126px;}
.yesil .tablofiyat  p {color: #fff;font-size: 12px;padding-top: 21px;text-align: center;}
.hostingozellikleri{background: url(../img/hosting-menu-bg.png) 0px 0px no-repeat;width: 213px;height: 275px;padding: 6px 12px;float: left;position: relative;}
.hostingozellikleri  ul  li {margin: 18px 0px 19px;  display: block;  padding-left: 0px;font-size: 13px;  color: #000;}
.sayfa-bg {background: url(../img/vpsbg.png)  top center;  min-height: 1700px;position: absolute;}
.vpshosting.trs-tab-wrapper { margin-top: -2px; }
.vpshosting.trs-tab-wrapper .trs-tab-nav  { float: left; /* clear: both; */ background: url(../img/vps-sunucu-large-bg.png) 0px 0px;  width: 1000px; height: 206px;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a { width: 220px; height: 35px; float: left; display: block; background: url(../img/ters-tab-nav.png) left 36px; color: #fff; }
.vpshosting.trs-tab-wrapper .trs-tab-nav a h1 {font-size: 17px;float: left;vertical-align: bottom;margin-top: 75px;width: 140px;text-align: center;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.active {}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.left { margin-right: -36px; }
.vpshosting.trs-tab-wrapper .trs-tab-nav a.right { border-top-right-radius: 3px; }
.vpshosting.trs-tab-wrapper .trs-tab-container  { float: left; clear: both; background: url(../img/vps-sunucu-small-bg.png) 0px 0px;  width: 1000px; height: 89px; margin-top: -91px;}
.vpshosting {position: relative; z-index: 66666;}
.vpshosting.trs-tab-wrapper .trs-tab-nav .bi { float: left; background: url(../img/vps-sunucu-img.png) no-repeat  -9px -81px;  width: 180px; height: 68px; margin-top: -19px; margin-left: 37px;}
.vpshosting.trs-tab-wrapper .trs-tab-nav .ii { float: left;  background: url(../img/vps-sunucu-img.png) no-repeat  -203px -60px;  width: 203px; height: 85px; margin-top: -39px;}
.vpshosting.trs-tab-wrapper .trs-tab-nav .uc { float: left; background: url(../img/vps-sunucu-img.png) no-repeat  -411px -41px;  width: 203px; height: 107px; margin-top: -57px;}
.vpshosting.trs-tab-wrapper .trs-tab-nav .do { float: left; background: url(../img/vps-sunucu-img.png) no-repeat  -615px -20px;  width: 203px; height: 127px; margin-top: -78px;}
.vpshosting.trs-tab-wrapper .trs-tab-nav .be { float: left; background: url(../img/vps-sunucu-img.png) no-repeat -820px 2px;  width: 142px; height: 147px; margin-top: -100px;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.bi h1 {font-size: 17px;float: left;vertical-align: bottom;margin-top: 75px;width: 140px;text-align: center;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.ii h1 {font-size: 17px;float: left;vertical-align: bottom;margin-top: 95px;width: 140px;text-align: center;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.uc h1 {font-size: 17px;float: left;vertical-align: bottom;margin-top: 114px;width: 140px;text-align: center;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.do h1 {font-size: 17px;float: left;vertical-align: bottom;margin-top: 135px;width: 140px;text-align: center;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.be h1 {font-size: 17px;float: left;vertical-align: bottom;margin-top: 160px;width: 140px;text-align: center;}
.vpshosting .vpshostingsep {height: 5px;width: 100%;background: url(../img/vpsline.png) repeat top left;display: block;position: relative;margin-top: -95px;;float: left;z-index: 666;}
.vpshosting .vpshostingbg {height: 5px;width: 100%;background-color: #093552;display: block;position: relative;margin-top: -95px;float: left;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.bi .normalicon { float: left; background: url(../img/vps-sunucu-round-img.png) no-repeat  0px 0px;  width: 15px; height: 15px; margin-top: 125px;  margin-left: -75px;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.ii .normalicon { float: left; background: url(../img/vps-sunucu-round-img.png) no-repeat  0px 0px;  width: 15px; height: 15px; margin-top: 146px;  margin-left: -75px; z-index: 6666; position: relative;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.uc .normalicon { float: left; background: url(../img/vps-sunucu-round-img.png) no-repeat  0px 0px;  width: 15px; height: 15px; margin-top: 163px; margin-left: -75px; z-index: 6666;  position: relative;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.do .normalicon { float: left; background: url(../img/vps-sunucu-round-img.png) no-repeat  0px 0px;  width: 15px; height: 15px; margin-top: 185px; margin-left: -75px; z-index: 6666;  position: relative;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.be .normalicon { float: left; background: url(../img/vps-sunucu-round-img.png) no-repeat  0px 0px;  width: 15px; height: 15px; margin-top: 27px; margin-left: 65px; z-index: 6666;  position: relative;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.active  .aktificon { float: left; background: url(../img/vps-sunucu-seek-icon.png) no-repeat  0px 0px;  width: 25px; height: 35px; margin-top: 20px; margin-left: 65px; position: relative; z-index: 5555;}
.vpshosting.trs-tab-wrapper .trs-tab-nav a.thisokey  .normalicon { display: none;}
.vpshosting .vpsdetay div {    float: left;    padding: 24px;}
.vpshosting .vpsdetay div h1{ font-size: 16px; color: #fff;}
.vpshosting .vpsdetay div span{ font-size: 24px; color: #fff;}
.vpshosting .vpsdetay .boxfive > h1 {    font-size: 30px;}
.vpshosting .vpsdetay .boxfive > span {    font-size: 14px;}
.vpshosting .vpsdetay .boxsix {    padding: 16px 4px  24px 75px;}
.vpshosting .vpsdetay .boxsix a {font-size: 18px; color: #fff;background: url(../img/vps-buy-button.png) no-repeat 0px 0px;  width: 176px;height: 59px;display: block;}
.vpshosting .vpsdetay .boxsix span {padding: 19px 4px 0px 60px;display: block;}



/*
=================================================================
(#m13hlp) Helper
=================================================================
*/
.rounded { border-radius: 3px !important; }
.-mt53 { margin-top: -53px !important; }
.fl { float: left }
.fr { float: right }
.bnone{border-right: 0px !important;}
.resetbutton {border-color: none !important;outline: none !important;border: 0 !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;}
.noMR {margin-right: 0 !important}
.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.cf:before, .cf:after {content: " "; /* 1 */display: table; /* 2 */}.cf:after {clear: both;}.cf {*zoom: 1;}
.right {float: right !important;}
.left {float: left !important;}