.slider {
    position: relative;
}
.slider,
.slider ul li,
.slider ul li a img {
    width: 550px;
    height: 279px
}
.slider a.prev,
.slider a.next {
    background: rgba(0,0,0,.7);
    padding: 6px;
    position: absolute;
    top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.slider a.next {
    right: 20px;
}
.slider a.prev {
    left: 20px
}
.slider a.next:hover,
.slider a.prev:hover {
    background-color: dodgerblue;
    color: #fff
}

/* sayfalama */
.slider .pagination {
    position: absolute;
    bottom: 0;
    left: 0;
}
.slider .pagination a {
    float: left;
    padding: 6px 8px;
	border-left: 1px solid #e30000;
	border-right: 1px solid #c40000;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
	font-family: Calibri,Arial;
    background: #d90000;
}
.slider .pagination a.active {
    background-color: white;
	color: #bb0000;
}

/* carousel */
.visible {
    width: 565px;
    height: auto;
}
.visible-inner ul li,
.visible-inner ul,
.visible-inner ul li a img {
    width: 185px;
    height: 100px;
    margin-right: 5px;
}

.visible a.next,
.visible a.prev {
    height: 40px;
    line-height: 40px;
}

/* carousel vertical */
.visible.vertical {
    width: 185px;
    height: 315px
}
.visible.vertical .visible-inner ul li {
    margin-bottom: 5px;
}
.visible.vertical a.next,
.visible.vertical a.prev {
    height: 20px;
    line-height: 20px
}

/* vertical */
.vertical a.next {
    left: 50%;
    width: 70px;
    margin-left: -35px;
    text-align: center;
}
.vertical a.prev {
    left: 50%;
    width: 70px;
    top: auto;
    bottom: 20px;
    margin-left: -35px;
    text-align: center;
}

/* list */
.list {
    width: 600px;
    height: 60px;
    overflow: hidden;
    border-top: 3px solid #111
}
.list ul li {
    float: left;
    width: 120px;
    height: 60px;
    opacity: .5
}
.list ul li a img {
    width: 120px;
    height: 60px
}
.list ul li.active {
    opacity: 1
}